@charset "utf-8";
$color: #745bff; // 主题色rgba(0, 131, 233, 1)
$test: #000;
$white: #fff; // 
$unchecked: #999; // 未选中
$line: #dcdcdc;
$input: #e5e5e5;
$bleed: #9B9B9B; // 出血线颜色
$gradient: linear-gradient(112deg,rgba(23,182,255,1) 0%,rgba(96,148,233,1) 40%,rgba(156,54,255,1) 150%); //linear-gradient(to bottom right, #17b6ff 0,#6094e9 50%,#9c36ff 150%)
