$color: #745bff; // 主题色rgba(0, 131, 233, 1)

*{
	box-sizing: border-box;
  }
  body, div, span, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
  body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
  h1, h2, h3, h4, h5, h6{ font-size:100%; } 
  address, cite, dfn, em, var { font-style:normal; } 
  code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
  small{ font-size:12px; } 
  ul, ol { list-style:none; } 
  a { text-decoration:none; } 
  a:hover { text-decoration:none; } 
  sup { vertical-align:text-top; } 
  sub{ vertical-align:text-bottom; } 
  
  .hoveMove{
	  cursor: move;
  }
  .el-dialog{
	min-width: 500px;
  }
  
  
  #Loading{
	position: absolute;
	top: 65%;
	left: 57%;
	transform: translateY(-50%) translateX(-50%);
	z-index: 1000;
  }
  
  .table-page .page-content svg {
	  width: 100%;
	  height: 100%;
  }
  @keyframes ball-beat {
	50% {
		opacity: 0.2;
		transform: scale(0.75);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
  }
  .ball-beat > div {
	background: #745bff;
	width: 8px;
	height: 30px;
	border-radius: 5px;
	margin: 5px;
	animation-fill-mode: both;
	display: inline-block;
	animation: ball-beat 0.7s infinite linear;
  }
  .ball-beat > div:nth-child(2n-1){
	animation-delay: 0.35s !important;
  }
  
  
  
  
  
.temp-replace { // 左侧模板页替换
	width: 50% !important;
	padding: 50px;
	.el-message-box__title {
		font-size: 25px !important;
		.el-message-box__headerbtn {
			font-size: 30px;
		}
	}
	.el-message-box__content {
		padding: 50px 0 !important;
		font-size: 18px ;
	}
}

.info.el-message { // 设计器保存按钮提示
	min-width: 170px;
}

// 提交模板
.submit .submit-content.temp-submit {
	.el-upload {
		width: 100%;
		height: 319px;
		background:rgba(236,236,236,1);
		border: none;
		margin-top: 15px;
		margin-bottom: 20px;
		.el-icon-plus{
			margin-top: 124px;
		}
	}
	.el-upload-list {
		width: 100%;
		li {
			position: absolute;
			top: 43px;
			left: 0;
			width: 100%;
			height: 319px;
			img{
				object-fit: contain;
			}
		}
	}
}

.pick-color { // 颜色选择器按钮
	.el-button {
		display: none;
	}
}

.el-dialog.pick-color-parent {
	background: rgba(0, 0, 0, 0.3);
}

// 管理员修改提交信息
.put-template .template-content .el-select {
	width: 100%;
}
.close-btn {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	transform: rotate(45deg);
	cursor: pointer;
	z-index: 2019;
	&::before,
	&::after {
		content: '';
		position: absolute;
		top:44%;
		left: 9px;
		width: 60%;
		height: 3px;
		border-radius:3px;
		background: #745bff;
		
	}
	&::before {
		
		transform: rotate(90deg);
	}
}



.form-inline .el-input__inner, .el-input, .form-inline .el-form-item__content, .form-inline .el-form-item__label{
    height: 37px;
    line-height: 37px;
}

.form-inline{
    min-width: 960px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 20px 1px rgba(203,211,217,0.3);
    border-radius:10px;
    padding: 19px 20px 20px;
    margin-bottom: 25px;
    .el-form-item{
        margin: 0;
        height: 37px;
        line-height: 37px;
        margin-right: 32px !important;
    }
    .el-form-item__label{
        color:rgba(51,51,51,1);
        float: left;
    }
    .el-form-item__content{
        .el-icon-date::before{
            content: '';
        }
        .el-icon-date::after{
            background-image: url(/img/personal/time_icon.png);
            width: 100%;
            height: 30px;
            vertical-align: middle;
        }
    }
    .el-input{
        width: 173px;
    }
    .screen{
        background: $color;
        display: inline-block;
        line-height: 37px;
        padding: 0 12px;
        border-radius: 5px;
        color: rgba(254,254,254,1);
        cursor: pointer;
    }
}

.form-inline .form-item{
    .range{
        margin: 0 10px;
    }
    .block-date{
        display: inline-block;
        .el-date-editor, .el-input__inner{
            width: 144px;
        }
        .el-input--prefix .el-input__inner{
            padding-left: 35px;
            padding-right: 18px;
        }
    }
}

// 下拉按钮样式
.form-inline .select .el-input__suffix-inner i::before{
    content: '';
}
.form-inline .select .el-input .el-select__caret{
    transform: rotateZ(0);
}
.form-inline .select .el-input__suffix-inner i::after{
    background-image: url(/img/personal/drop_down.png);
    width: 100%;
    height: 30px;
}
.to-create{
    margin-top: 200px;
    text-align: center;
    p{
        margin-bottom: 15px;
    }
    .el-button{
        background: $color;
        color: rgba(255,255,255,1);
        &:hover{
            background: $color;
            color: rgba(255,255,255,1);
        }
    }
}


/* 设计师申请弹框 */
.header-top .el-dialog  {
	border-radius: 10px;
	.el-dialog__header,
	.el-dialog__body {
		padding: 0;
	}
	.el-dialog__header {display: none;}
}
